[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyLDAvis = {editable = true, path = "."}
numpy = ">=1.24.2"
scipy = "*"
pandas = ">=2.0.0"
joblib = ">=1.2.0"
numexpr = "*"
funcy = "*"
scikit-learn = ">=1.0.0"
gensim = "*"
Jinja2 = "*"
reproducer = {editable = true, path = "."}

[dev-packages]
pytest = ">=3.9"

[requires]
python_version = "3.11"
